html,
body {
  border: solid 2px red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
  font-size: 5rem;
  color: white;
  text-decoration: underline;
}
header {
  margin: 0px;
  padding: 25px;
}

footer {
  background-color: darkgray;
  padding: 5px;
}

.welcome {
  background-image: linear-gradient(#37bfc9, #a6cbce);
  padding-top: 50px;
  padding-bottom: 100px;
  height: 100%;
}

.main-header,
.main-footer,
.welcome {
  text-align: center;
}

.begin {
  color: white;
  margin-top: 150px;
  background-color: transparent;
  border: solid 5px white;
  border-radius: 10px;
  font-size: 2rem;
}

.total-amount {
  color: black;
}
