body {
  font-family: sans-serif;
}

.header {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.navigation {
  margin: 1rem auto;
  padding: 0.25rem;
}

.body-container {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

input {
  max-width: 40%;
  margin: 1rem auto;
  padding: 0.5rem;
}

button {
  max-width: 50%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#output {
  margin: 1rem auto;
  font-weight: bold;
  font-size: 18px;
}